body {
    font-family: Arial, sans-serif;
    margin: 0 auto;
    padding: 0;
    color: #333;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.textservice {
    color: #0590D1;
}

/* Стилизация контейнера */
.container {
    width: 100%;
    max-width: 1210px;
    margin: 0 auto;
    padding: 20px;
}

/* Стилизация шапки */
.header {
    background: #f4f4f4;
}

/* Стилизация навигации----------------------------------------------------- */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
}

.nav-menu {
    max-width: 1210px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0 auto;
}

.nav-menu_item {
    display: flex;
    align-items: center;
}

.nav-time-text_date{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; /* или clip, если не нужны многоточия */
    width: 100%
}

.nav-logo img {
    height: 50px; /* Регулируйте размер логотипа в соответствии с вашими нуждами */
}
.nav-logo{
    width: 140px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    font-size: 20px;
    font-weight: bold;
    color: #0590D1;
}

.menu-location{
    display: flex;
    align-items: center;
}

.location-icon, .time-icon, .tel-icon {
    margin-right: 5px;
}

.nav-link, .nav-tel_number, .nav-tel_number1 {
    text-decoration: none;
    color: #333;
    font-size: 16px;
}

.nav-link:hover, .nav-tel_number:hover, .nav-tel_number1:hover {
    text-decoration: underline;
}

.nav-tel {
    display: flex;
    flex-direction: column;
}

.nav-tel_number1 {
    margin-bottom: 5px;
}

.nav-time-text_title {
    font-weight: bold;
    margin-bottom: 5px;
}

.nav-time-text_date {
    color: #666;
}

.language {
    padding: 10px 15px;
    background-color: #0391D3;
    color: #fff;
    text-align: center;
    border: none;
    cursor: pointer;
    border-radius: 40px;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25); 
    transition: 0.3s all;
}

.language:hover{
    background-color: #08171e;
    color: #a5c9f9;
}

.language:active{
    background-color: #0da9ec;
    color: #010a16;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25); 
    transform: scale(1.2);
    box-shadow: 0 0 15px 7px rgba(34, 60, 80, 0.2);
    transition: box-shadow 0.5s, transform 0.5s;
}

/*СТИЛИ ДЛЯ HEADER-CENTER-----------------------------------------------*/

.header-center {
    padding: 50px 50px 0px;
    background: #f4f4f4;
}

.header-center .container {
    padding-bottom: 0px;
}

.header-center-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-center_left{
    max-width: 438px;
    margin-right: 100px;
    position: relative;
}

.header-center_right {
    display: flex;
    align-items: center; /* Центрирует изображение по вертикали */
    justify-content: center; /* Центрирует изображение по горизонтали */
    background: #3CA7DB;
    border-radius: 350px 0 50px 10px;
    overflow: hidden; /* Обрезает изображение в соответствии с border-radius */
}

.bg-img {
    width: 100%; /* Адаптируется к ширине контейнера */
    height: auto; /* Поддерживает пропорции изображения */
    display: block; /* Убирает возможные отступы вокруг изображения */

}

.header-center_left-title {
    font-size: 36px;
    font-weight: 600;
}

.header-center_left-subtitle {
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 50px;
}

.header-center-link {
    display: inline-block;
    padding: 30px 90px;
    background-color: #0391D3;
    color: #fff;
    text-align: center;
    border: none;
    cursor: pointer;
    border-radius: 40px;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25); 
    margin-bottom: 40px;
    transition: 0.3s all;
}

.header-center-link:hover{
    background-color: #08171e;
    color: #a5c9f9;
}

.header-center-link:active{
    background-color: #0da9ec;
    color: #010a16;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    transform: scale(1.2);
    box-shadow: 0 0 15px 7px rgba(34, 60, 80, 0.2);
    transition: box-shadow 0.5s, transform 0.5s;
}

.header-center_left-comment{
    font-size: 16px;
    margin-bottom: 50px;
}

.star {
    color: red;
}

/*СТИЛИ ДЛЯ header-bottom -------------------------------------------*/

.header-bottom_menu {
    max-width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

.header-bottom_menu-item{
    text-align: center;
    list-style: none;
}

.header-bottom-item__number {
    color: #0391D3;
    font-size: 40px;
    font-weight: bold;  
}

/*ABOUT-US СТИЛИ--------------------------------------------*/
.about-us-title {
    text-align: center;
    font-size: 36px;
    color: #201f1f;
    position: relative;
    margin-bottom: 10px;
}

.about-us-title::after{
    position: absolute;
    content: '';
    width: 900px;
    height: 2px;
    background: #b19999;
    right: 165px;
    bottom: -10px;
    font-weight: 600;
}

.about-us-subtitle p {
    text-align: center;
    color: #2d2626;
    font-size: 18px;
    line-height: 1.3;
    font-weight: 600;
}
.about-us-description p {
    font-size: 16px;
    line-height: 1.4;
    text-align: justify;
}

/*section BREND стили*/

.brend-title {
    text-align: center;
    font-size: 36px;
    color: #201f1f;
    margin-bottom: 30px;
    background: #44b7ff;
    border-radius: 25px;
    padding: 10px;
}

.brend-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Центрирование логотипов */
    margin: 0 auto; /* Убираем боковые отступы */
    padding: 0 45px; /* Добавляем паддинг вместо маржина */
}

.brend-wrap_logo {
    flex-basis: calc(16.666% - 28px);
    max-width: 140px;
    margin: 15px; /* Одинаковый отступ со всех сторон */
    border: 1px solid rgba(0, 0, 0, 0.08);
    opacity: 0.6;
    transition: all 100ms ease-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.brend-wrap_logo:hover {
    border: 1px solid transparent;
    opacity: 1;
    transform: scale(1.2);
    box-shadow: 0 0 15px 7px rgba(34, 60, 80, 0.2);
    transition: box-shadow 0.5s, transform 0.5s;
}

.brend-text_wrap {
    padding: 20px;
    background: #f4f4f4;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

.brend-subtitle {
    
 }

 .brend-number {
    text-align: center;
 }

.brend-text_wrap-right button {
    padding: 10px 15px;
    margin-left: 20px;
    background-color: #0391D3;
    color: #fff;
    text-align: center;
    border: none;
    cursor: pointer;
    border-radius: 40px;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25); 
    transition: 0.3s all;
}


.brend-text_wrap-right button:hover{
    background-color: #08171e;
    color: #a5c9f9;
}

.brend-text_wrap-right button:active{
    background-color: #0da9ec;
    color: #010a16;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25); 
    transform: scale(1.2);
    box-shadow: 0 0 15px 7px rgba(34, 60, 80, 0.2);
    transition: box-shadow 0.5s, transform 0.5s;
}



/* Базовые стили для мобильных и планшетов */
@media (max-width: 1024px) {
    .container, .nav-menu, .header-center {
        width: 100%; /* Используем 100% ширины для максимального использования пространства */
        padding: 10px;
    }

    .nav, .nav-menu {
        flex-direction: column;
        align-items: center;
    }

    .nav-menu_item {
        flex-direction: column; /* Вертикальное расположение элементов меню */
        margin-top: 10px;
    }

    .header-center {
        padding: 20px;
        flex-direction: column; /* Элементы друг под другом для лучшей читаемости */
        align-items: center;
    }

    .header-center_left, .header-center_right {
        width: 100%; /* Полная ширина для каждого блока */
        margin-right: 0;
    }

    .header-center_right {
        margin-top: 20px; /* Отступ для разделения текста и изображения */
    }

    .nav-logo, .menu-location, .nav-tel {
        text-align: center;
    }

    .header-center-link, .header-center_left-title, .header-center_left-subtitle {
        padding: 10px 20px;
        font-size: 18px;
    }

    .header-center-link {
        width: auto;
        margin: 20px auto;
        display: block;
    }
}

/* Стили для экранов меньше 768px */
@media (max-width: 768px) {
    .header-center_left-title, .header-center_left-subtitle {
        font-size: 20px; /* Уменьшаем размер шрифта для заголовков */
    }

    .nav-menu_item {
        align-items: center;
    }

    .nav-time-text_date, .nav-tel_number, .nav-link {
        font-size: 14px; /* Меньший размер шрифта для детальной информации */
    }

    .brend-wrap_logo {
        flex-basis: 50%; /* Больше места для каждого логотипа */
    }
}

/* Стили для самых маленьких экранов */
@media (max-width: 480px) {
    .brend-wrap_logo {
        flex-basis: 100%; /* Один логотип на строку */
    }

    .header-bottom_menu {
        flex-direction: column; /* Стек элементов вертикально */
        align-items: center;
    }

    .header-bottom_menu-item {
        margin-bottom: 20px; /* Добавляем пространство между элементами */
    }

    .header-center-link, .header-center_left-comment {
        font-size: 16px; /* Уменьшаем шрифт для маленьких экранов */
    }
}

body, .nav-link, .nav-tel_number, .nav-tel_number1, .header-center_left-title, .header-center_left-subtitle, .header-bottom-item__number {
    font-size: 16px; /* Уменьшаем размер шрифта для лучшей адаптации */
}

/* Медиа-запросы для адаптации под мобильные устройства и планшеты */
@media (max-width: 1024px) {
    .container, .nav-menu {
        padding: 10px; /* Уменьшаем внутренние отступы */
    }

    .nav {
        flex-direction: column;
    }

    .nav-menu_item {
        flex-direction: column; /* Стек элементов вертикально */
    }

    .header-center {
        padding: 20px;
        flex-direction: column; /* Элементы друг под другом */
    }

    .header-center_left, .header-center_right {
        width: 100%; /* Полная ширина для лучшей адаптации */
        margin-right: 0;
        text-align: center; /* Центрируем содержимое */
    }
}

@media (max-width: 768px) {
    .header-center_left-title, .header-center_left-subtitle, .header-bottom-item__number {
        font-size: 14px; /* Дополнительное уменьшение размера шрифта */
    }

    .brend-wrap_logo {
        flex-basis: 50%; /* Больше пространства для каждого логотипа */
    }
}

@media (max-width: 480px) {
    .brend-wrap_logo {
        flex-basis: 100%; /* Один логотип на строку */
    }

    .nav-menu {
        flex-direction: column; /* Вертикальное расположение элементов меню */
    }

    .header-bottom_menu {
        flex-direction: column; /* Стек элементов вертикально */
        align-items: center;
    }

    .header-bottom_menu-item {
        margin-bottom: 20px; /* Пространство между элементами */
    }
}