body {
    font-family: Arial, sans-serif;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.textservice {
    color: #0590D1;
}

/* Стилизация контейнера */
.container {
	max-width: 1920px;
	margin: 0 auto;
	padding: 0 25px;
}

/* Стилизация шапки */
.header {
    background: #f4f4f4;
}

/* Стилизация навигации----------------------------------------------------- */
.nav  {
    background: #fff;
    padding: 5px;
}

.nav-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0;
}

.nav_logo-lang {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 400px;
    width: 100%;
    font-size: 18px;
}

.nav-menu {
    max-width: 1150px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0;
    font-size: 20px;
}

.nav-menu_item {
    display: flex;
    align-items: center;
}

.nav-time-text_date{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; /* или clip, если не нужны многоточия */
    width: 100%
}

.nav-logo img {
    height: 52px;
    display: flex;             /* Включает Flexbox */
    align-items: center;       /* Центрирование по вертикали */
    justify-content: center;   /* Центрирование по горизонтали */
}

.nav-logo{
    max-width: 165px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    font-size: 20px;
    font-weight: bold;
    color: #0590D1;
}

.menu-location{
    display: flex;
    align-items: center;
}

.menu-location_city {
    color: #000;
    text-transform: uppercase;
}

.location-icon, .time-icon, .tel-icon {
    margin-right: 5px;
}

.nav-link, .nav-tel_number, .nav-tel_number1 {
    text-decoration: none;
    color: #333;
    font-size: 20px;
}

.nav-link:hover, .nav-tel_number:hover, .nav-tel_number1:hover {
    text-decoration: underline;
}

.nav-tel {
    display: flex;
    flex-direction: column;
}

.nav-tel_number1 {
    margin-bottom: 5px;
}

.nav-time-text_title {
    font-weight: bold;
    margin-bottom: 5px;
}

.nav-time-text_date {
    color: #666;
}

.language {
    padding: 10px 15px;
    background-color: #0391D3;
    color: #fff;
    text-align: center;
    border: none;
    cursor: pointer;
    border-radius: 40px;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25); 
    transition: 0.3s all;
    margin-left: 10px;
}

.language:hover{
    background-color: #08171e;
    color: #a5c9f9;
}

.language:active{
    background-color: #0da9ec;
    color: #010a16;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25); 
    transform: scale(1.2);
    box-shadow: 0 0 15px 7px rgba(34, 60, 80, 0.2);
    transition: box-shadow 0.5s, transform 0.5s;
}

/*СТИЛИ ДЛЯ HEADER-CENTER-----------------------------------------------*/

.header-center {
    padding-top: 50px;
    background: #f4f4f4;
}

.header-center .container {
    padding-bottom: 0px;
}

.header-center-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.header-center_left{
    max-width: 650px;
    width: 100%;
    margin-right: 100px;
    position: relative;
}

.header-center_right {
    display: flex;
    align-items: center; /* Центрирует изображение по вертикали */
    justify-content: center; /* Центрирует изображение по горизонтали */
    background: #3CA7DB;
    border-radius: 350px 0 50px 10px;
    overflow: hidden; /* Обрезает изображение в соответствии с border-radius */
}

.bg-img {
    width: 100%; /* Адаптируется к ширине контейнера */
    height: auto; /* Поддерживает пропорции изображения */
    display: block; /* Убирает возможные отступы вокруг изображения */

}

.header-center_left-title {
    font-size: 50px;
    font-weight: 600;
}

.header-center_left-subtitle {
    font-size: 24px;
    margin-top: 15px;
    margin-bottom: 50px;
}

.header-center-link {
    display: inline-block;
    padding: 30px 90px;
    background-color: #0391D3;
    color: #fff;
    text-align: center;
    border: none;
    cursor: pointer;
    border-radius: 40px;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25); 
    margin-bottom: 40px;
    transition: 0.3s all;
    font-size: 20px;
}

.header-center-link:hover{
    background-color: #08171e;
    color: #a5c9f9;
}

.header-center-link:active{
    background-color: #0da9ec;
    color: #010a16;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    transform: scale(1.2);
    box-shadow: 0 0 15px 7px rgba(34, 60, 80, 0.2);
    transition: box-shadow 0.5s, transform 0.5s;
}

.header-center_left-comment{
    font-size: 20px;
    margin-bottom: 50px;
}

.star {
    color: red;
}

/*СТИЛИ ДЛЯ header-bottom -------------------------------------------*/

.header-bottom_menu {
    max-width: 600px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

.header-bottom_menu-item{
    text-align: center;
    list-style: none;
}

.header-bottom-item__number {
    color: #0391D3;
    font-size: 46px;
    font-weight: bold;  
}

.header-bottom__item-description {
    font-size: 20px;
}

/*ABOUT-US СТИЛИ--------------------------------------------*/
.about-us {
    padding: 25px 0;
}

.about-us_wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-us-title {
    text-align: center;
    font-size: 42px;
    color: #201f1f;
    position: relative;
    margin-bottom: 10px;
}

.about-us-title::after{
    position: absolute;
    content: '';
    width: 900px;
    height: 2px;
    background: #b19999;
    right: 165px;
    bottom: -10px;
    font-weight: 600;
}

.about-us-subtitle p {
    text-align: center;
    color: #2d2626;
    font-size: 24px;
    line-height: 1.3;
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 15px;
}
.about-us-description p {
    max-width: 1400px;
    width: 100%;
    font-size: 18px;
    line-height: 1.4;
    text-align: justify;
    margin: 0;
}

/*section BREND стили*/

.brend-title {
    text-align: center;
    font-size: 36px;
    color: #201f1f;
    margin-bottom: 30px;
    background: #44b7ff;
    border-radius: 25px;
    padding: 10px;
}

.brend-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Центрирование логотипов */
    margin: 0 auto; /* Убираем боковые отступы */
    padding: 0 160px; /* Добавляем паддинг вместо маржина */
}

.brend-wrap_logo {
    flex-basis: calc(16.666% - 28px);
    max-width: 140px;
    margin: 15px; /* Одинаковый отступ со всех сторон */
    border: 1px solid rgba(0, 0, 0, 0.08);
    opacity: 0.6;
    transition: all 100ms ease-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.brend-wrap_logo:hover {
    border: 1px solid transparent;
    opacity: 1;
    transform: scale(1.2);
    box-shadow: 0 0 15px 7px rgba(34, 60, 80, 0.2);
    transition: box-shadow 0.5s, transform 0.5s;
}

.brend-text_wrap {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

.brend-text_wrap-left {
    font-size: 18px;
}

.brend-number {
    color: #605e5e;
}

 .brend-number {
    text-align: center;
 }

.brend-text_wrap-right button {
    padding: 20px 25px;
    margin-left: 20px;
    background-color: #0391D3;
    color: #fff;
    text-align: center;
    border: none;
    cursor: pointer;
    border-radius: 40px;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25); 
    transition: 0.3s all;
}


.brend-text_wrap-right button:hover{
    background-color: #08171e;
    color: #a5c9f9;
}

.brend-text_wrap-right button:active{
    background-color: #0da9ec;
    color: #010a16;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25); 
    transform: scale(1.2);
    box-shadow: 0 0 15px 7px rgba(34, 60, 80, 0.2);
    transition: box-shadow 0.5s, transform 0.5s;
}

/*стили формы*/

.form-container {
    background: #f9f9f9;
    max-width: 600px;
    width: 100%;
    padding: 5px 10px 50px 10px;
    border-radius: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form-wrapper {
    width: 100%;
    max-width: 500px;
    display: flex;
    padding: 0px 50px;
    justify-content: center;
}

#orderForm {
    display: none;
    opacity: 0; /* Начальное значение opacity для скрытия */
    transition: opacity 0.5s ease-in-out;
}

.order-form.visible {
    display: flex;
    opacity: 1;
}

.order-form {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    justify-content: center;  /* Центрирование по горизонтали */
    align-items: center;      /* Центрирование по вертикали */
    background: rgba(45, 45, 50, 0.4);
}

.order-form-header {
    display: flex;
    justify-content: flex-end; /* Размещаем кнопку закрытия справа */
    width: 100%;
}

.close-btn {
    background: none;
    border: none;
    font-size: 30px;
    cursor: pointer;
    color: #333;
    margin-right: 0; /* Можно убрать лишний отступ */
}

.close-btn:hover {
    color: #ff0000;
    transition: all 0.5s;
}

.form-name {
    max-width: 500px;
    width: 100%;
    font-size: 20px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.form-name label {
    margin-bottom: 5px;
}

.form-number {
    max-width: 500px;
    width: 100%;
    font-size: 20px;
    display: flex;
    flex-direction: column;
}

.form-number label {
    margin-bottom: 5px;
}

.form-wrapper input {
    padding: 20px 10px;
    font-size: 20px;
    border-radius: 24px;
    border: 1px solid #d3e8ed;
    box-shadow: inset 0 4px 12px rgba(81,178,192,0.2);
}

.form-wrapper input:focus {
    border: 1px solid #51b2c0;
}

.form-wrapper input:active {
    border: 1px solid #51b2c0;
}

.form-wrapper p {
    margin-top: 20px;
    color: #898686;
}

.form-btn {
    padding: 20px 30px;
    background-color: #0391D3;
    color: #fff;
    text-align: center;
    border: none;
    cursor: pointer;
    border-radius: 40px;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25); 
    transition: 0.3s all;
}

.form-note {
    max-width: 300px;
    width: 100%;
    font-size: 16px;
    color: #898686;
    margin-left: 10px;
}

.form-button-wrap {
    width: 100%;
    max-width: 460px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.visually-hidden {
    font-size: 30px;
    text-align: center;
    color: #0590D1;
}

/* Стили для секции "Наши услуги" */
.services-section {
    padding: 30px 0;
    background-color: #f4f4f4;
}

.services-wrap {
    max-width: 1000px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.section-title {
    text-align: center;
    font-size: 32px;
    color: #333;
    margin-bottom: 40px;
    margin-top: 0;
}

.services-grid {
    display: grid;
    grid-template-columns: repeat(4, 200px); /* Минимальная ширина каждого элемента 200px */
    gap: 50px;
    justify-items: center;
    justify-content: center
}

.service-item {
    background-color: #fff;
    padding: 25px 10px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease;
    max-width: 200px; /* Ограничение максимальной ширины */
    width: 100%; /* Установка одинаковой ширины */
}

.service-item:hover {
    transform: translateY(-5px);
}

.service-icon {
    width: 60px;
    height: auto;
    margin-bottom: 20px;
    transition: width 0.3s ease; /* Плавное изменение размера */
}

.service-title {
    font-size: 20px;
    font-weight: bold;
    color: #0391D3;
    margin: 0;
}

/* Секция скидки */
.discount-section {
    background: #3CA7DB;
    padding: 50px 0;
}

.discount-content {
    max-width: 1300px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; /* Для адаптивности */
    margin: 0 auto;
}

.discount-left {
    flex: 1;
    max-width: 600px;
}

.discount-title {
    font-size: 36px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 20px;
}

.discount-subtitle {
    font-size: 16px;
    color: #fff;
    margin-bottom: 20px;
    line-height: 20px;
    font-weight: normal;
}

.discount-btn {
    padding: 15px 30px;
    background-color: #F3393A;
    color: #fff;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.3s;
}

.discount-btn:hover {
    background-color: #08171e;
    color: #a5c9f9;
}

.discount-btn:active {
    background-color: #F3393A;
    color: #a5c9f9;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25); 
    transform: scale(1.2);
    box-shadow: 0 0 15px 7px rgba(34, 60, 80, 0.2);
    transition: box-shadow 0.5s, transform 0.5s;
}

.discount-right {
    flex: 1;
    max-width: 500px;
    text-align: center;
}

.discount-image {
    width: 100%;
    height: auto;
}
/*.brend-text_wrap-right button {
    padding: 10px 15px;
    margin-left: 20px;
    background-color: #0391D3;
    color: #fff;
    text-align: center;
    border: none;
    cursor: pointer;
    border-radius: 40px;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25); 
    transition: 0.3s all;
}

.brend-text_wrap-right button:hover{
    background-color: #08171e;
    color: #a5c9f9;
}

.brend-text_wrap-right button:active{
    background-color: #0da9ec;
    color: #010a16;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25); 
    transform: scale(1.2);
    box-shadow: 0 0 15px 7px rgba(34, 60, 80, 0.2);
    transition: box-shadow 0.5s, transform 0.5s;
}


/* Базовые стили для медиа-запросов */
@media (max-width: 1708px) {
    .nav-menu {
        max-width: 1000px;
        width: 100%;
    }

.nav_logo-lang {
    max-width: 360px;
    width: 100%;
    }

    .brend-wrap {
        padding: 0 60px;
    }

}

/* Базовые стили для мобильных и планшетов */
@media (max-width: 1537px) {
    .nav-menu {
        max-width: 950px;
        width: 100%;
}

    .brend-wrap_logo {
        margin: 10px;
}
}
/* Базовые стили для мобильных и планшетов */

@media (max-width: 1397px) {
    .nav_logo-lang {
        max-width: 300px;
        width: 100%;
    }

    .brend-wrap {
        padding: 0 120px;
    }
}
/* Базовые стили для мобильных и планшетов */

@media (max-width: 1229px) {
    .nav_logo-lang {
        max-width: 300px;
        width: 100%;
    }

    .nav-menu {
        margin-left: 40px;
    }

    .brend-wrap {
        padding: 0 80px;
    }

    .nav-wrap {
        max-width: 1000px;
        width: 100%;
        flex-direction: column;
    }

    .nav_logo-lang {
        max-width: 862px;
        width: 100%;
    }

    .nav-menu {
        align-items: center;
        justify-content: space-between;
        max-width: 862px;
        width: 100%;
        margin: 0;
        padding: 20px;
    }

    .nav-menu_item{
        margin-bottom: 10px;
    }

    .nav-logo {
        width: 100%;

    }

    .header-center-wrap {
        max-width: 880px;
        width: 100%;
    }

    .header-center_left {
        max-width: 450px;
        margin-right: 10px;
    }

    .header-center_left-title {
        font-size: 32px;
    }

    .header-center_left-subtitle {
        font-size: 20px;
    }

    .header-center-link {
        padding: 20px 50px;
        font-size: 18px;
    }

    .header-center_left-comment {
        font-size: 18px;
    }

    .header-bottom_menu {
        max-width: 350px;
    }

    .header-bottom-item__number {
        font-size: 30px;
    }

    .header-bottom__item-description {
        font-size: 14px;
    }

    .header-center_right {
        max-width: 420px;
    }

    .about-us-title::after {
        right: -10px;
    }
}

/* Базовые стили для медиа-запросов */
@media (max-width: 1024px) {
    .nav-wrap {
        max-width: 1000px;
        width: 100%;
        flex-direction: column;
    }

    .nav_logo-lang {
        max-width: 862px;
        width: 100%;
    }

    .nav-menu {
        align-items: center;
        justify-content: space-between;
        max-width: 862px;
        width: 100%;
        margin: 0;
        padding: 20px;
    }

    .nav-menu_item{
        margin-bottom: 10px;
    }

    .nav-logo {
        width: 100%;

    }
    /*heder center 1024 */

    .header-center_left {
        max-width: 450px;
        margin-right: 10px;
    }

    .header-center_left-title {
        font-size: 32px;
    }

    .header-center_left-subtitle {
        font-size: 20px;
    }

    .header-center-link {
        padding: 20px 50px;
        font-size: 18px;
    }

    .header-center_left-comment {
        font-size: 18px;
    }

    .header-bottom_menu {
        max-width: 350px;
    }

    .header-bottom-item__number {
        font-size: 30px;
    }

    .header-bottom__item-description {
        font-size: 14px;
    }

    .header-center_right {
        max-width: 420px;
    }

    .about-us-title::after {
        right: -10px;
    }
}

@media (max-width: 615px) {

    .brend-wrap {
        padding: 0 10px;
    }

    .form-container {
        padding: 15px 20px;
    }

    .form-wrapper {
        padding: 0 10px;
    }

    .form-name, .form-number {
        font-size: 14px;
    }

    .form-wrapper input {
        font-size: 14px;
        padding: 12px;
    }

    .form-btn {
        font-size: 14px;
        padding: 12px 20px;
    }

    .form-note {
        font-size: 12px;
    }

    .services-grid {
        grid-template-columns: repeat(2, 1fr); /* Два элемента в строке */
        gap: 30px;
    }

    .service-item {
        max-width: 150px;
    }

    .service-title {
        font-size: 18px;
    }

    .service-icon {
        width: 50px;
    }

    .discount-content {
        flex-direction: column;
        text-align: center;
    }

    .discount-left, .discount-right {
        max-width: 100%;
    }

}

@media (max-width: 480px) {
    .container {
        max-width: 440px;
        padding: 0 8px;
    }

    .header-center_right {
        display: none;
    }

    .nav-wrap {
        max-width: 430px;
        width: 100%;
        flex-direction: column;
    }

    .nav_logo-lang {
        max-width: 420px;
        width: 100%;
    }

    .nav-logo_text {
        font-size: 16px;
    }

    .language {
        font-size: 16px;
    }

    .nav-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 420px;
        width: 100%;
        font-size: 16px;

    }

    .time-text_none {
        display: none;
    }

    .nav-menu_item{
        padding: 10px 0;
        margin: 0;
        border: 2px solid #0391D3;

        max-width: 420px;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .nav-logo {
        width: 100%;
        max-width: 140px;
    }

    .nav-logo img {
        max-height: 48px;
    }

    .header-bottom_menu {
        max-width: 370px;
    }

    .form-container {
        padding: 10px 25px;
        max-width: 350px;
    }

    .form-wrapper {
        padding: 0 5px;
    }

    .form-name, .form-number {
        font-size: 12px;
    }

    .form-wrapper input {
        font-size: 12px;
        padding: 10px;
    }

    .form-btn {
        font-size: 12px;
        padding: 10px 15px;
    }

    .form-note {
        font-size: 10px;
    }
}